<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>Xin chào tôi là cường</p>
</ion-content>

<ion-tabs>
  <ion-tab label="Home" icon="home">
    <ion-header>
      <ion-toolbar>
        <ion-title>Home</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content padding>
      <h1>Home Content</h1>
    </ion-content>
  </ion-tab>

  <ion-tab label="Map" icon="map">
    <ion-header>
      <ion-toolbar>
        <ion-title>Map</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content padding>
      <h1>Map Content</h1>
    </ion-content>
  </ion-tab>

  <ion-tab label="Camera" icon="camera">
    <ion-header>
      <ion-toolbar>
        <ion-title>Camera</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content padding>
      <h1>Camera Content</h1>
    </ion-content>
  </ion-tab>
</ion-tabs>